<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Places</title>
</head>
<body>
    <h1>Places</h1>
    <ul>
        {{range .Places}}
        <li>
            <strong>Name:</strong> {{.Name}}<br>
            <strong>Address:</strong> {{.Address}}<br>
            <strong>Phone:</strong> {{.Phone}}
        </li>
        {{end}}
    </ul>
    <div>
        <strong>Page:</strong>
        {{range $i := .TotalPages}}
            {{if eq $i $.CurrentPage}}
                <span>{{$i}}</span>
            {{else}}
                <a href="?page={{$i}}">{{$i}}</a>
            {{end}}
        {{end}}
    </div>
</body>
</html>
